<div class="login-container">
  <mat-card class="login-card">
    <mat-card-header>
      <mat-card-title>Login</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form (ngSubmit)="onSubmit()">
        <mat-form-field appearance="fill">
          <mat-label>Username</mat-label>
          <input matInput [(ngModel)]="credentials.username" name="username" required>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Password</mat-label>
          <input matInput type="password" [(ngModel)]="credentials.password" name="password" required>
          <mat-hint><a routerLink="/forgotpassword" [ngStyle]="{'font-size': 14 + 'px'}">Forgot Password</a></mat-hint>
        </mat-form-field>
        <mat-checkbox [(ngModel)]="rememberMe" name="rememberMe" [ngStyle]="{'padding-bottom': 10 + 'px'}">Remember Me</mat-checkbox>
        <div class="login-button-container">
          <button mat-raised-button [ngClass]="['login-success-button', isSuccess ? 'login-success-btn' : '']" color="primary" type="submit" [disabled]="isLoading || !credentials.username || !credentials.password">
            <ng-container *ngIf="isLoading">
              <mat-progress-spinner mode="indeterminate" diameter="20" color="primary"></mat-progress-spinner>
            </ng-container>
            <ng-container *ngIf="isSuccess">
              <mat-icon>check_circle</mat-icon>
            </ng-container>
            <ng-container *ngIf="!isLoading && !isSuccess">Login</ng-container>
          </button>
        </div>
      </form>
      <mat-card-actions>
        <a routerLink="/register">Don't have an account? Register</a>
      </mat-card-actions>
    </mat-card-content>
  </mat-card>
</div>
