.container {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 64px); /* Adjust for toolbar height */
}

mat-card {
  width: 300px;
}

mat-form-field {
  width: 100%;
  margin-bottom: 10px;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh); /* Adjust for toolbar height */
  background-color: #adadad;
}

.login-card {
  width: 100%;
  max-width: 400px;
  padding: 20px;
}

mat-form-field {
  width: 100%;
  margin-bottom: 20px;
}

button {
  width: 100%;
}

.error {
  color: red;
  margin-bottom: 10px;
}
a {
  display: block;
  text-align: center;
  margin-top: 10px;
  color: #9a9b9b;;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
mat-hint a {
  color: #9a9b9b;
  text-decoration: none;
  line-height: 1px;

  &:hover {
    text-decoration: underline;
  }
}

mat-checkbox {
  margin-bottom: 20px;
}

.error-snackbar {
  background-color: #f44336; // Red background for error
  color: white;
}

.login-button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;

  button {
    width: 100%;
    position: relative;
    overflow: hidden;
    transition: background-color 0.3s ease;

    mat-progress-spinner {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    mat-icon {
      font-size: 24px;
      color: green;
    }
  }
}
.login-success-btn {
  background-color: #4CAF50 !important; /* green */
  color: white;
}
