<app-sidebar>
  <div class="container">
    <h1>Your Workouts</h1>
    <mat-card>
      <mat-card-header>
        <mat-card-title>Sample Workout Plan</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-list>
          <mat-list-item>Push-ups - 3 sets of 15</mat-list-item>
          <mat-list-item>Squats - 3 sets of 20</mat-list-item>
          <mat-list-item>Plank - 3 sets of 30 seconds</mat-list-item>
        </mat-list>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary">Add to Plan</button>
      </mat-card-actions>
    </mat-card>
  </div>
</app-sidebar>

